@page "{id}"
@model NorthwindWeb.Pages.Suppliers.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <div class="col-9">
        <h2 class="disaply-2">@Model.Supplier.CompanyName</h1>
    </div>
    <div class="col-3">
        <a asp-page="./Index">Back</a>
    </div>
</div>

<div class="row">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Contact Name: @Model.Supplier.ContactName</li>
        <li class="list-group-item">Contact Title: @Model.Supplier.ContactTitle</li>
        <li class="list-group-item">Address: @Model.Supplier.Address</li>
        <li class="list-group-item">City: @Model.Supplier.City</li>
        <li class="list-group-item">Region: @Model.Supplier.Region</li>
        <li class="list-group-item">Postal Code: @Model.Supplier.PostalCode</li>
        <li class="list-group-item">Country: @Model.Supplier.Country</li>
        <li class="list-group-item">Phone: @Model.Supplier.Phone</li>
        <li class="list-group-item">Home Page: @Model.Supplier.HomePage</li>
    </ul>
</div>